
{% extends 'base.html' %}

{% block title %} About Mr.GoodEats {% endblock %}
{% block pageDescription %}<meta name="description" content="Who is Mr.GoodEats"
/>
{% endblock %}

{% block body %} 

<h1>About GoodEats</h1>
<img src="static\images\GoodEats.png" alt="GoodEatsLogo" class="center">
<br>
<h3>GoodEats was started in 2021 as a project to inspire young adults to get excited and passoinate about the foods they were consuming. We wanted to inspire more people to cook for themselves and feel the satisfaction from creating something from scratch.</h3>
<br>
<h3>Since the GoodEats inception, GoodEats has become a worldwide sensation and currently tracks 1.2 million page views each day.</h3>

{% endblock %}